@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@Model.Winningnumber

<section class="home" id="home">
            <div class="home__content">
                <h1>Bästa kattbloggen</h1>
                <h2>Bli medlem!</h2>
                <p class="salesparagraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facere, asperiores quam dolore ut harum voluptas dolor, magni repudiandae commodi temporibus dicta debitis deleniti vero provident eligendi! Accusamus cumque soluta, recusandae veritatis provident perferendis ea voluptates vitae voluptatem suscipit possimus!</p>
                <a class="ctabutton" href="#">Köp nu!</a>
            </div>
        </section>


        @*<section class="products" id="products">
            <h1>Products</h1>
            <div class="productgallery">
                <div class="productcard">
                        <img src="https://picsum.photos/300/300?1">
                        <div class="information">
                            <div class="name">Kaffemugg</div>
                            <div class="description">Lorem, ipsum dolor.</div>
                            <a class="ctabutton" href="#">Purchase</a>
                        </div>
                </div>

                <div class="productcard">
                    <img src="https://picsum.photos/300/300?2">
                    <div class="information">
                        <div class="name">Kaffemugg</div>
                        <div class="description">Lorem, ipsum dolor.</div>
                        <a class="ctabutton" href="#">Purchase</a>
                    </div>
            </div>

                <div class="productcard">
                    <img src="https://picsum.photos/300/300?3">
                    <div class="information">
                        <div class="name">Kaffemugg</div>
                        <div class="description">Lorem, ipsum dolor.</div>
                        <a class="ctabutton" href="#">Purchase</a>
                    </div>
            </div>

            </div>*@



        </section>
