@page
@model WebApplication3.Pages.OrdersModel
@{
}


<table class="table">
    <tr>
        <th>
            Id <a asp-page="/Orders" asp-route-col="id" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-page="/Orders" asp-route-col="id" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
        <th>
            Customer <a asp-page="/Orders" asp-route-col="customer" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-page="/Orders" asp-route-col="customer" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
        <th>
            Date <a asp-page="/Orders" asp-route-col="datetime" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-page="/Orders" asp-route-col="datetime" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
    </tr>
@foreach(var order in Model.Orders){
    <tr>
        <td><a asp-page="/OrderInfo" asp-route-id="@order.Id">@order.Id</a></td>
        <td>@order.CustomerName</td>
        <td>@order.DateTime</td>
    </tr>
}
</table>