body {
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --background-color: white;
    --header-text-color: white;
    --secondary-color: #8390FA;
    --cta-color: #FAC748;
    --box-shadow: 2px 2px 2px lightgray;
    --text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
}

.siteheader {
    background-color: black;
    height: 80px;
    padding: 40px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text-color);
    font-weight: 700;
}

.navmenu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navicons {
    display: flex;
    list-style: none;
    gap: 5px;
}

.logo {
    font-size: 26px;
}

.logoicon {
    font-size: 26px;
    color: var(--secondary-color);
}


.logopart2 {
    color: var(--secondary-color);
}

.headeranchor {
    padding: 4px 10px;
    border-radius: 8px;
    color: white;
}


.navicons__headeranchor {
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 26px;
    color: var(--secondary-color);
}


.headeranchor:hover {
    background-color: var(--cta-color);
}

.rightimage {
    width: 300px;
}



.navicons__headeranchor:hover {
    color: var(--cta-color);
}


.card {
    width: 500px;
}

footer {
    height: 60px;
    background-color: var(--secondary-color);
}


h1 {
    font-size: 70px;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    margin-top: 10px;
}

h2 {
    color: var(--secondary-color);
    letter-spacing: 3px;
    margin: 10px;
}


.ctabutton {
    padding: 20px 40px;
    margin: 30px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 30px;
    color: black;
    background-color: var(--cta-color);
    display: inline-block;
}

    .ctabutton:hover {
        background-color: white;
        border: 1px solid black;
    }

section {
    text-align: center;
    padding: 20px 7%;
}



.home {
    background: url('https://aspcodeprod.blob.core.windows.net/school-dev/0x0.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.home__content {
    max-width: 800px;
}


.salesparagraf {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: black;
    font-weight: 700;
    opacity: 0.7;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.products,
.contact {
    min-height: 100vh;
    text-align: center;
}


.contact__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact__form__box {
    font-size: 22px;
    margin: 10px;
    padding: 1px 5px;
    border: 1px solid grey;
}

.contact__form__box__input {
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}



.productgallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.productcard {
    box-shadow: 10px 5px 5px grey;
    border: 1px solid grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

    .productcard img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    } 
